

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */

/*
div, main, article, section, aside,
hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/



/*	Generally, you will only want one container element in
	the document, wrapping around the main content area. */
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 2em;
	min-width: 1200px;

}

body{
	background-color: #fbf5f5;
	background-image: url("../../gdesImages/sims4background2.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}
.local-nav ul{
	padding-left: 0;
	margin: 2em;
}
.local-nav a{
	float: left;
	color: #fff;
	background: #6e8387;
	padding: 1em 2em 1em 2em;
	margin-left: -4px;
	text-decoration: none;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}
.local-nav a:hover{
		color: #c8d3d5
}

.global-nav ul{
	padding-left: 0px;
	margin: 2em;
	margin-left: 1px;
	 <!-- this closes the gap and makes things appear closer to each other -->
}
.global-nav a{
		color: #fff;
		background: #6e8387;
		padding: 1em 2em 1em 2em;
		margin-left: -4px;
		text-decoration: none;
		float: left;
		font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
}
.global-nav a:hover{
		color: #c8d3d5;
}

h1 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	color: #fff;
}
h2 , h3 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-size: bold;
	line-height: 22.4px;
	color:#fff;
}
h4 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-size: bold;
	line-height: 20px;
	color:#6e8387;
}
p {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #fff;
}

.simsMain {

		float: left;
		width: 75%;
		margin-bottom: 2em;
}
.words{
		background-color: #04e824;
		background: rgba(4, 232, 36, 0.5);
		float: left;
		width: 25%;
		padding-left: 1em;
		padding-right: 1em;
}
.words2{
		float: left;
		padding-left: 1em;
		padding-right: 1em;
		width: 28%;
		margin-bottom: 2.2em;
		background-color: #04e824;
		background: rgba(4, 232, 36, 0.5);
}
.sims1words{
	background-color: #04e824;
	float: left;
	width: 75%;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 5.5em;
	background: rgba(4, 232, 36, 0.5);
}
.sims1words2{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	margin-bottom: 2.2em;
	background-color: #04e824;
	background: rgba(4, 232, 36, 0.5);
}
.sims1Games{
	float: left;
	width: 25%;
}
.sims1Gameswords{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	width: 75%;
	margin-bottom: 8em;
	background-color: #04e824;
	background: rgba(4, 232, 26, 0.5);
}
.sims2Games{
	float: left;
	width: 25%;
}
.sims2Gameswords{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	width: 75%;
	margin-bottom: 2em;
	background-color: #04e824;
	background: rgba(4, 232, 26, 0.5);
}
.sims3Games{
	float: left;
	width: 25%;
}
.sims3Gameswords{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	width: 75%;
	margin-bottom: 2em;
	background-color: #04e824;
	background: rgba(4, 232, 26, 0.5);
}
.sims4Games{
	float: left;
	width: 25%;
}
.sims4Gameswords{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	width: 75%;
	margin-bottom: 2em;
	background-color: #04e824;
	background: rgba(4, 232, 26, 0.5);
}

.simsExpansion1words{
		width: 100%;
		float: left;
		background-color: #04e824;
		padding-left: 1em;
		padding-right: 1em;
		background: rgba(4, 232, 36, 0.5);
}
.sims2words{
	width: 100%;
	float: left;
	background-color: #04e824;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(4, 232, 36, 0.5);
}
.sims2words2{
	width: 100%;
	float: left;
	background-color: #04e824;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(4, 232, 36, 0.5);
}
.sims2words3{
	width: 100%;
	float: left;
	background-color: #04e824;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(4, 232, 36, 0.5);
}
.sims2words4{
	width: 100%;
	float: left;
	background-color: #04e824;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(4, 232, 36, 0.5);
}
.sims2words4_2 {
	width: 100%;
	float: left;
	background-color: #04e824;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(4, 232, 36, 0.5);
}
.sims2words4_2 p{
	padding-left: 2em;
}
.sims2words5{
	width: 100%;
	float: left;
	background-color: #04e824;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(4, 232, 36, 0.5);
}
.sims2{
		float: right;
		width: 72%;
		margin-bottom: 2em;
}
.sims1_cover{
	float: left;
	width: 25%;
	margin-bottom: 2em;
}
.sims4image{
	margin-bottom: 15em;
	float: left;
}
.simsOther{
	width: 25%;
	float: left;
}
.simsOtherwords{
	width: 75%;
	float: left;
	padding: 1em;
	background-color: #04e824;
	background: rgba(4, 232, 36, 0.5);
}
